<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input label="Nombre de Usuario" labelPlacement="floating" [(ngModel)]="username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Contraseña" labelPlacement="floating" type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top" (click)="login()">Login</ion-button>

  <p *ngIf="errorMessage" class="ion-text-center ion-text-danger">{{ errorMessage }}</p>

  <p class="ion-text-center ion-margin-top">
    ¿No tienes cuenta? <a routerLink="/register">Regístrate aquí</a>
  </p>
</ion-content>